{% extends "page.html" %}

{% block view %}

<div id="message-container" class="container mt-4"></div> <div class="center-container">
    <h1 class="display-4 mb-2 text-center">Certificaat Registratie</h1>
    <p class="lead text-center">Vul de resterende gegevens in en verstuur voor registratie.</p>
</div>

<form id="qr-scan-form" class="mb-4">
    <h2 class="text mb-2">Vul hieronder je gegevens in</h2>
    <p class="text mb-2">De volgende gegevens zijn automatisch ingevuld via de QR-code:</p>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="scannedCursusNaam" class="form-label">Gebeurtenis of verzin zelf iets beters</label>
                <input type="text" name="cursusNaam" class="form-control" id="scannedCursusNaam" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="scannedCursusdatum" class="form-label">Cursusdatum</label>
                <input type="date" name="cursusdatum" class="form-control" id="scannedCursusdatum" readonly>
            </div>
        </div>
    </div>

    <hr>

    <h2 class="text mb-2">Deelnemersgegevens</h2>
    <p class="text mb-2">Vul onderstaande gegevens in voor een bewijs van deelname</p>

    <div class="row align-items-center mb-3">
        <div class="col-md-6">
            <div id="aanhef" class="form-text mb-0">Aanhef:</div>
            <div class="radio-aanhef d-flex">
                <div class="mb-1 me-3">
                    <label for="aanhefDhr" class="form-label">
                        <input type="radio" name="aanhef" id="aanhefDhr" value="dhr" class="form-check-input" aria-describedby="aanhefDhr" checked> Dhr. 
                    </label>
                </div>
                <div class="mb-1">
                    <label for="aanhefMevr" class="form-label">
                        <input type="radio" name="aanhef" id="aanhefMevr" value="mevr" class="form-check-input" aria-describedby="aanhefMevr"> Mevr.
                    </label>
                </div>
            </div> 
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="voornaam" class="form-label">Voornaam</label>
                <input type="text" name="voornaam" placeholder="bv. 'Beau'" class="form-control" id="voornaam" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="tussenvoegsel" class="form-label">Tussenvoegsel</label>
                <input type="text" name="tussenvoegsel" placeholder="bv. 'ter'" class="form-control" id="tussenvoegsel">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="achternaam" class="form-label">Achternaam</label>
                <input type="text" name="achternaam" placeholder="bv. 'Ham'" class="form-control" id="achternaam" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="geboortedatum" class="form-label">Geboortedatum</label>
                <input type="date" name="geboortedatum" class="form-control" id="geboortedatum" required>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-1">
                <label for="email" class="form-label">e-mailadres</label>
                <input type="email" name="email" placeholder="bv. 'iets@ietsanders.nl'" class="form-control" id="email" required>
            </div>
        </div>
    </div>    
    
    <button type="submit" class="btn btn-primary">Registreren</button>
</form>

{% endblock %}
